
<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}Srigowri{% endif %}</a>
  <nav class="main_menu">
    <a href="{{site.baseurl}}/about/">About</a>
    <a href="{{site.baseurl}}/contact/">Contact</a>
    <a href="{{site.baseurl}}/tags_new_layout/">Categories</a>
  </nav>
</header> <!-- End Section Header -->
<!-- <link rel="icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicon/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/favicon/apple-touch-icon-114x114.png" | prepend: site.baseurl }}"> -->
