<!DOCTYPE html>
<html lang="en" class="no-js">
<head>	
    <meta charset="UTF-8"/>
    <meta property="og:image" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--     <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
<!--     <title>{{ site.title }}</title> -->
    <meta name="description" content="{{ site.description }}"/>
    <meta name="keywords" content="{{ site.keywords }}"/>
    <meta name="author" content="{{ site.author }}"/>
	
    <link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicon/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/favicon/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
<!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#d25469">
<!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#d25469">
<!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#d25469">
<!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<!--     <link rel="shortcut icon" href="img/favicon.ico"> -->
    <!--fonts -->
    <link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<!-- Styles -->
    <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/modern-blog.css" | prepend: site.baseurl }}">

    <!--[if IE]>
    <script type="text/javascript" src="js/vendors/html5.min.js"></script>
    <![endif]-->
    <script>
        if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
            var root = document.getElementsByTagName('html')[0];
            root.setAttribute('class', 'ff');
        }
    </script>
</head>
<body class="body">
{% include header.html %}

<main class="post_content ">
  <article class="post">
    <header>
      <div class="post_image">
        <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
      </div>
      <div class="post_description">
        <p class="post_meta">{{page.date | date: '%Y, %b %d'}}</p>
        <h1 class="post_title">{{page.title}}</h1>
      </div>
    </header> <!-- End Header -->
<!-- 
    <div class="entry_content">
      {{page.content | markdownify}}
    </div> -->
	
<div class="container">
    <div class="content">
        <!-- trianglify pattern container -->
        <div class="pattern pattern--hidden"></div>
        <!-- cards -->
        <div class="wrapper">
            {% for post in site.posts %}
            <div class="card" data-id="{{ post.id }}">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1200"
                         preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="{{ post.id }}-clip-path">
                                <polygon class="clip" points="0,1200 0,0 1920,0 1920,1200"></polygon>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#{{ post.id }}-clip-path)" width="1920" height="1200"
                               xlink:href={{ "/assets/img/" | prepend: site.baseurl | append : post.img}} alt="{{post.title}}"></image>
                    </svg>
                    <div class="card__content">
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <h2 class="card__title">{{ post.title }}</h2>
                            <p class="card__subtitle">{{ post.subtitle }}</p>
                        </div>
                        <div class="card__copy">
                            <div class="meta">
<!--                                 <img class="meta__avatar" src={{ "/assets/img/" | prepend: site.baseurl | append : post.avatar}}/> -->
                                <span class="meta__author">{{ post.author }}</span>
                                <span class="meta__date">{{ post.date | date: "%Y-%m-%d" }}</span>
                            </div>
                            {{ post.content }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /cards -->
        </div>
    </div>
    <!-- /container -->
</div>
<div class="post_wrapper">
      <footer class="post_footer cf">
        <div class="post_share">
          <span>Share:</span>
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<!--           <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a> -->
        </div>
        <div class="post_tag">
          <span>Tags:</span>
          {% for tag in page.tags %}
          <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
      </footer>
    </div>
  </article> <!-- End Section Post -->

  <section class="author cf">
    <div class="post_wrapper">
      <div class="author_image">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{ site.author-pic }}{% endif %}" alt="Author face">
      </div>
      <div class="author_info">
        <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Dwayne Newman{% endif %}</h2>
        <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}La croix godard blue bottle, vape iceland fingerstache cronut single-origin coffee lyft snackwave normcore small batch.{% endif %}</p>
        <div class="author_social">
          {% if site.email %}
          <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{site.email}}">{{site.email}}</a></span>
          {% else %}
          <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:dwayne@example.com">dwayne@example.com</a></span>
          {% endif %}
          
<!--         {% if site.phone %}
          <span class="author_phone"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{site.phone}}">{{site.phone}}</a></span>
          {% else %}
          <span class="author_phone"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+496-169-65-57">(496)-169-6557</a></span>
          {% endif %} -->

          {% if site.website %}
          <span class="author_website"><i class="fa fa-link" aria-hidden="true"></i> <a href="{{site.website}}" target="_blank">{{site.website}}</a></span>
          {% else %}
          <span class="author_website"><i class="fa fa-link" aria-hidden="true"></i> <a href="#" target="_blank">https://website.example.com</a></span>
          {% endif %}             
        </div>
      </div>
    </div>
  </section> <!-- End Section Author -->

  <section class="recent_box">
    <div class="post_wrapper">
      <h2 class="recent_title">Recent post</h2>
      <div class="recent_list">
        {% for post in site.posts offset:0 limit:6 %}
          {% if post.title %}
            <a href="{{ post.url | prepend: site.baseurl }}"
              class="recent_item"
              style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
                <span>{{ post.title }}</span>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section> <!-- End Section Recent Box -->
  
<!--   {% include disqus.html %} -->
  
</main> <!-- End Section Post Content -->

{% include footer.html %}

{% include arrow_top.html %}

{% include javascripts.html %}
{% include analytics.html %}
<!-- JS -->

<script src="{{ "/assets/js/triangle_animation/vendors/trianglify.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/triangle_animation/vendors/TweenMax.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/triangle_animation/vendors/ScrollToPlugin.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/triangle_animation/vendors/cash.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/triangle_animation/card-modern-blog.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/triangle_animation/modern-blog.js" | prepend: site.baseurl }}"></script>
</body>
</html>
