<!DOCTYPE html>
<html lang="en" class="no-js">
<body class="body">


<div class="container">
    <div class="content">
        <!-- trianglify pattern container -->
        <div class="pattern pattern--hidden"></div>
        <!-- cards -->
        <div class="wrapper">
            {% assign data_yml = site.data[page.data_yml_id] %}
            {% for data in data_yml %}
            <div class="card" data-id="{{ data.anchor_tag }}">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1200"
                         preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="{{ data.anchor_tag }}-clip-path">
                                <polygon class="clip" points="0,1200 0,0 1920,0 1920,1200"></polygon>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#{{ data.anchor_tag }}-clip-path)" width="1920" height="1200"
                               xlink:href={{ "/assets" | prepend: site.baseurl | append: page.folder | append : data.img}} alt="{{data.title}}"></image>
                    </svg>
                    <div class="card__content">
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <!-- <h2 class="card__title">{{ data.title }}</h2> -->
                            <!-- <p class="card__subtitle">{{ data.subtitle }}</p> -->
                        </div>
                        <div class="card__copy">
                            <div class="meta">
<!--                                 <img class="meta__avatar" src={{ "/assets/img/" | prepend: site.baseurl | append : page.avatar}}/> -->
                                <span class="meta__author">{{ page.author }}</span>
                                <span class="meta__date">{{ page.date | date: "%Y-%m-%d" }}</span>
                            </div>
                            {{ data.content }}
                        </div>
                    </div>
                </div>
            
            </div>
            {% endfor %}
    
        </div>
    </div>
</div> 

<!-- JS -->
	
<script src="{{ "/assets/js/triangle_animation/vendors/trianglify.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/triangle_animation/vendors/TweenMax.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/triangle_animation/vendors/ScrollToPlugin.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/triangle_animation/vendors/cash.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/triangle_animation/card-modern-blog.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/triangle_animation/modern-blog.js" | prepend: site.baseurl }}"></script>
</body>
</html>
