---
layout: compress
---
{% include triangle_animation_head.html %}
{%comment%}
{% include header.html %} 
{%endcomment%}
<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">Home</a>
</header> 
  <article class="post">
    <header>
      <div class="post_image">
        
        {% assign data_yml = site.data[page.data_yml_id] %}

        {% for data in data_yml %}
        <div class="carousel_img slideInLeft">
            <img src="{{ "/assets" | prepend: site.baseurl | append: page.folder | append : data.img}}" alt="{{data.title}}">	
            <div class="post_description" >
              <p class="post_meta" style="display: inline;">{{data.date | date: '%d %b, %Y'}}:  {{data.caption}}</p>
              <!-- <h1 class="post_title">{{data.caption}}</h1> -->
            </div>
        </div>	
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>

      <br>
      <div style="text-align:center">
          {% for data in data_yml %}
            <span class="carousel_dot"></span>
          {% endfor %}
      </div>
      {% include carousel_custom.html %}
    
    </header> <!-- End Header -->

    <div class="entry_content">
      {{page.content | markdownify}}
    </div>
    
    <!-- <div class="post_wrapper">
      <footer class="post_footer cf">
        <div class="post_share">
          <span>Share:</span>
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <div class="post_tag">
          <span>Tags:</span>
          {% for tag in page.tags %}
          <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
      </footer>
    </div> -->
   </article> <!-- End Section Post -->  
  
   {% include triangle_animation_data.html %}
  
  <section class="author cf">
    <div class="post_wrapper">
      <div class="author_image">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{ site.author-pic }}{% endif %}" alt="Author face">
      </div>
      <div class="author_info">
        <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Srigowri M V{% endif %}</h2>
        <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}La croix godard blue bottle, vape iceland fingerstache cronut single-origin coffee lyft snackwave normcore small batch.{% endif %}</p>
        <div class="author_social">
          {% if site.email %}
          <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{site.email}}">{{site.email}}</a></span>
          {% else %}
          <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:srigowri.venkatesha@gmail.com">srigowri.venkatesha@gmail.com</a></span>
          {% endif %}
          
<!--         {% if site.phone %}
          <span class="author_phone"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{site.phone}}">{{site.phone}}</a></span>
          {% else %}
          <span class="author_phone"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+496-169-65-57">(496)-169-6557</a></span>
          {% endif %} -->

          {% if site.website %}
          <span class="author_website"><i class="fa fa-link" aria-hidden="true"></i> <a href="{{site.website}}" target="_blank">{{site.website}}</a></span>
          {% else %}
          <span class="author_website"><i class="fa fa-link" aria-hidden="true"></i> <a href="#" target="_blank">https://website.example.com</a></span>
          {% endif %}             
        </div>
      </div>
    </div>
  </section>

  <section class="recent_box">
    <div class="post_wrapper">
      <h2 class="recent_title">Recent posts</h2>
      <div class="recent_list">
        {% for post in site.posts offset:0 limit:6 %}
          {% if post.title %}
          <div class = "recent_post">
            <a href="{{ post.url | prepend: site.baseurl }}"
              class="recent_item"
              style="background-image: url( {{ "/assets" | prepend: site.baseurl | append : post.thumbnail}} )">
                <span>{{ post.title }}</span>
            </a>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>

  {%comment%}
  {% include disqus.html %} 
{%endcomment%}
</main>


{% include footer.html %}
{% include arrow_top.html %}
{% include javascripts.html %}
{% include analytics.html %}

